@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    height: 100vh;
}
.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.navdiv {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1000;
    backdrop-filter: blur(5px);
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
}
.navbar ul :hover{
    transform: scale(1.05);
}
.navbar h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 3rem;
    margin: 0;
}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
button {
    background-color: #04DDB2;
    border-radius: 100px;
    width: 148px;
    height: 42px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
button a {
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}
button:hover {
    transform: scale(1.05);
}
li a {
    color: gray;
    font-size: 1.5rem;
}
.helpLobe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    flex-direction: column;
}
.helpLobe h1{
    font-size: 56px;
}
.helpLobe span{
    color: #04DDB2;
}
.helpLobe p{
    font-size: 24px;
    color: #333;
    padding-top: 1.5rem;
    padding-left: 0;
}
.help{
    display: flex;
    flex-wrap: wrap;
}
.menu{
    width: 222px;
    height: 450px;
    padding-top: 100px;
    padding-right: 8px;
    margin-left: 18rem;
}
.alignMenu{
    width: 200px;
    height: 43.99px;
    padding: 12px 0px 12px 20px;
    font-size: 18px;
}
.community{
    padding-top: 1.5rem;
}
.menu-content{
    margin-left: 12rem;
}
.welcome{
    background-color: #04DDB2;
    color: white;
    font-style: bold;
    border-radius: 150px;
    height: 23px;
    width: 180px;
}
.welcome-content{
    width: 580px;
    height: 1031.950px;
    padding-top: 100px;
}
.welcome-content h3{
    width: 580px;
    height: 50px;
    padding-top: 1rem;
}
.label-content{
    width: 580px;
    height: 1031.950px;
    padding-top: 100px;
}
.label-content h3{
    width: 580px;
    height: 50px;
    padding-top: 1rem;
}
.para1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 56px;
    opacity: 0.75;
}
.btn-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2.5rem;
}
hr {
    margin-top: 5rem;
}
footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
}
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer li {
    padding-top: 20px;
}
.low {
    opacity: 0.85;
}
.symbol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.symbol li {
    padding: 0 10px;
    font-size: 2rem;
}
.fa-brands {
    color: #04DDB2;
}
.author{
    grid-column: -5/-4;
    margin-top: 3rem;
    color: orangered;
}
.form{
    margin-top: 6rem;
}
.detail{
    margin-top: 1rem;
    margin-left: 4rem;
    font-size: 1rem;
}